/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* button */
.btn {
  @apply w-56 h-10 px-2 py-2 text-center rounded-lg;
}

.btn-fadeout {
  @apply transition duration-500 ease-in-out;
}
.loader {
	border-top-color: #FFCC69;
	-webkit-animation: spinner 1.5s linear infinite;
	animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

